kind-cluster/compose/_data
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.classpath

# Helm
**/charts/**
**/my-values.yaml
**/helm-values-tmp.yaml
# scripts/helm-values.yaml

# DS_Store
**/.DS_Store
**.DS_Store
**.DS_Store**
**/.DS_Store**
**/.DS_Store/**
openframe/.DS_Store

# Loki
**/loki-wal
**/loki-cache
**/loki-chunks
**/loki-index

# Go CLI build artifacts
cli/build/
cli/coverage.out
cli/coverage.html
cli/releases/

**/openframe-stream/logs
**/jmx_exporter/jmx_prometheus_javaagent.jar
**/target/
.idea/
*.iml
**.class
**.log
.env
node_modules/
.classpath
**/logs
/log.path:logs_IS_UNDEFINED
**/log/**
**/.LCKpom.xml~
**IS_UNDEFINED**
*.java~
/tacticalrmm
**/rmmagent_build/**
**/rmmagent_build
**/tactical-rmm/rmmagent_build**
**/tactical-rmm/rmmagent_build
**/tactical-rmm/rmmagent
/agent/infrastructure/tactical-rmm/rmm_build_1740724424
/rmmagent
client/Cargo.lock
/.vscode/chrome-debug-profile
**/.claude/
**/ui-kit
**/dist
**/multi-platform-hub
*.json
.**.json
.next/