apiVersion: v1
kind: ConfigMap
metadata:
  name: openframe-frontend
data:
  {{- if and .Values.deployment.oss.enabled .Values.deployment.oss.ingress.ngrok.enabled }}
  NEXT_PUBLIC_API_URL: {{ printf "https://%s/api" (required "deployment.oss.ingress.ngrok.url is required when ngrok ingress is enabled" .Values.deployment.oss.ingress.ngrok.url) | quote }}
  {{- else if or (and .Values.deployment.oss.enabled .Values.deployment.oss.ingress.localhost.enabled) (and .Values.deployment.saas.enabled .Values.deployment.saas.ingress.localhost.enabled) }}
  NEXT_PUBLIC_API_URL: "https://localhost/api"
  {{- end }}
  NEXT_PUBLIC_APP_MODE: "full-app"
  NEXT_PUBLIC_AUTH_CHECK_INTERVAL: "30000"
