{{- include "chart.validate" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: openframe-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openframe-frontend
  template:
    metadata:
      labels:
        app: openframe-frontend
    spec:

      containers:
        - name: openframe-frontend
          image: "{{ .Values.image.repo }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 3000
              name: http
          envFrom:
            - configMapRef:
                name: openframe-frontend
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          # resources:
          #   requests:
          #     memory: "256Mi"
          #     cpu: "0.2"
          #   limits:
          #     memory: "512Mi"
          #     cpu: "0.5"
