

{{- if .Values.deployment.oss.ingress.ngrok.allowedIPs }}
apiVersion: ngrok.k8s.ngrok.com/v1alpha1
kind: NgrokTrafficPolicy
metadata:
  name: openframe-gateway
spec:
  policy:
    on_http_request:
      - actions:
          - type: restrict-ips
            config:
              enforce: true
              allow:
                {{- range .Values.deployment.oss.ingress.ngrok.allowedIPs }}
                - {{ . | quote }}
                {{- end }}
{{- end }}
